SECRET_KEY=replace-this-secret-key
DEBUG=True

DB_NAME=smart_survey_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5432

HF_API_TOKEN=replace-this-token
HF_SENTIMENT_MODEL_URL=https://api-inference.huggingface.co/models/cardiffnlp/twitter-roberta-base-sentiment-latest